html {
  height: 100%;
}

body {
    margin: 60px auto;
    width: 90%;
    -webkit-transition: .9s ease;
    -moz-transition: .9s ease;
    -ms-transition: .9s ease;
    -o-transition: .9s ease;
    height: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
    border-bottom: 4px solid aquamarine;
    padding-bottom: 1px;
}

a:hover {
    border-bottom: 4px solid aqua;
    padding-bottom: 0;
}

h1 {
    font-size: 3.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*Sizing & Transition*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/*Headline*/

h1:before {
  content: " On"
}

/*Feature Paragraphs*/
.features {
}

.features p {
}

.last {
}

.features:after {
  content: "";
  display: table;
  clear: both;
}

/*Light Switch*/
label {
  display: block;
  height: 25px;
  width: 100px;
  background: #eee;
  text-align: center;
  margin: 20px 0;
  position: fixed;
}

label:hover {
  background: #ddca7e;
  color: #fff;
  cursor: pointer;
}

input#lightswitch {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

/*Switched Off*/
input#lightswitch:checked + .main {
  background: #222;
}

input#lightswitch:checked + .main h1 {
  color: #ddca7e;
}

input#lightswitch:checked + .main h1:before {
  content: " Off"
}

input#lightswitch:checked + .main p {
  color: #aaa;
}
